    /* Home page styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#heroimg {
        background-image: url("../images/banners/hero4.jpg");
        background-size: cover;
        height: 120vh;
    }

